<%= link_to "Bright Ideas", sessions_path %>
<%= link_to "Logout", root_path %>
<p>Name: <%= @user.first_name%></p>
<p>Alias: <%= @user.last_name%></p>
<p>Email: <%= @user.email%></p>
<hr>

<p>Total Number of Posts: <%= @post%></p>
<p>Total Number of Likes: <%= @like%></p>